.main-view {
  height: 100vh;
}

.sidebar {
  overflow-y: auto;
  flex-shrink: 0;
}

.non-scrolling-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.buttons-div {
  flex-shrink: 0;
}

.more-buttons-div {
  flex-shrink: 0;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
}
